/.idea/
/.terraform/
/terraform.tfstate
/terraform.tfstate.backup
/.terraform.lock.hcl
/iac/.terraform.lock.hcl
/iac/.credentials
/iac/terraform.tfstate
/iac/terraform.tfstate.backup
/iac/.terraform/
