/.idea/
/.terraform/
/terraform.tfstate
/terraform.tfstate.backup
/.terraform.lock.hcl
/iac/.terraform.lock.hcl
/iac/modules/provisioning/.credentials
/iac/terraform.tfstate
/iac/terraform.tfstate.backup
/iac/.terraform/
/iac/.terraform.tfstate.lock.info