/.idea/
/.terraform/
/terraform.tfstate
/terraform.tfstate.backup
/.terraform.lock.hcl
/iac/.terraform.lock.hcl
/iac/.credentials
/ingress/settings/cert.crt
/ingress/settings/cert.key
/iac/terraform.tfstate
/iac/terraform.tfstate.backup
/ingress/settings/default.conf
/ingress/settings/jenkins.conf
/iac/.terraform/
