name: CI/CD Zero to Hero pipeline

on:
  push:
    branches: [ "*" ]
    paths-ignore:
      - "*.md"
      - "LICENSE"
      - "banner.txt"
      - "start.sh"
      - "stop.sh"

permissions:
  contents: read

jobs:
  build:
    name: Jobs
    runs-on: ubuntu-latest

    steps:
      - name: Download the project files.
        uses: actions/checkout@v4

      - name: Build services.
        run: ./build.sh

      - name: Publish services.
        env:
          DOCKER_REGISTRY_PASSWORD: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}
        run: ./publish.sh